.logo {
    font-size: 1.7rem;
    
}

.btn_small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.margin-top {
    margin-top: 5%;
}

.bottom-right {
    position: fixed;
    z-index: 2;
    bottom: 15px;
    right: 35px;
}