{% extends 'base.html' %} {% block content %}

<h3 class="margin-left">Add Meal</h3>

<div class="row">
    <form method="POST" class="col-12 margin-left" enctype='multipart/form-data'>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="meal_name" name="meal_name" type="text" required>
                <label>Meal Name</label>
            </div>
        </div>

        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Image</span>
                    <input type="file" name="image" required>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-field col-12">
                <i class="material-icons prefix">add_box</i>
                <select id="meats" name="meats" multiple>
              
              {% for meat in meat_options %}
              <optgroup label="{{ meat }}">
                {% for option in meat_options[meat] %}                  
                <option value="{{ meat }} {{ option }}">{{ meat }} {{ option }}</option>
                {% endfor %}
              </optgroup>
              {% endfor %}
              
            </select>
                <label>Add Meat</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col-12">
                <i class="material-icons prefix">add_box</i>
                <select id="vegetables" name="vegetables" multiple>
                
              <optgroup label="Vegetables">
                  {% for vegetable in vegetables %}
                  <option value="{{ vegetable }}">{{ vegetable }}</option>
                  {% endfor %}
              </optgroup>
              
            </select>
                <label>Add Vegetables</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col-12">
                <i class="material-icons prefix">add_box</i>
                <select id="herbs_or_spices" name="herbs_or_spices" multiple>
              <optgroup label="Herbs">
                {% for herb in herbs %}
                <option value="{{ herb.herb_name }}">{{ herb.herb_name }}</option>
                {% endfor %}
              </optgroup>
              <optgroup label="Spices">
                {% for spice in spices %}
                <option value="{{ spice.spice_name }}">{{ spice.spice_name }}</option>
                {% endfor %}
              </optgroup>
            </select>
                <label>Add Herbs and Spices</label>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button class="btn waves-effect waves-light" type="submit">Add Meal
                <i class="material-icons right">add_box</i>
             </button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
