{% extends 'base.html' %} {% block content %}

<h3 class="margin-left">Add Vegetable</h3>

<div class="row">
    <form method="POST" class="col-12 margin-left" enctype='multipart/form-data'>
        <div class="row">
            <div class="input-field col-12">
                <i class="material-icons prefix">assignment</i>
                <input id="vegetable_name" name="vegetable_name" type="text" required>
                <label>Vegetable Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col-12">
                <i class="material-icons prefix">assignment</i>
                <input id="calories" name="calories" type="text" required>
                <label>Calories</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col-12">
                <i class="material-icons prefix">assignment</i>
                <input id="carbohydrates" name="carbohydrates" type="text" required>
                <label>Carbohydrates(g)</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col-12">
                <i class="material-icons prefix">assignment</i>
                <input id="fat" name="fat" type="text" required>
                <label>Fat(g)</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col-12">
                <i class="material-icons prefix">assignment</i>
                <input id="protein" name="protein" type="text" required>
                <label>Protein(g)</label>
            </div>
        </div>

        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Image</span>
                    <input type="file" name="image" required>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Add Vegetable
                <i class="material-icons right">add_box</i>
             </button>
        </div>
    </form>
</div>

{% endblock content %}
