{% extends 'base.html' %} {% block content %}

<h3>Add Cut</h3>

<form method="POST" class="col s12" enctype='multipart/form-data'>

    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="cut_name" name="cut_name" type="text">
            <label for="icon_prefix">Cut Name</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="calories" name="calories" type="text">
            <label for="icon_prefix">Calories</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="carbohydrates" name="carbohydrates" type="text">
            <label for="icon_prefix">Carbohydrates(g)</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="fat" name="fat" type="text">
            <label for="icon_prefix">Fat(g)</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">assignment</i>
            <input id="protein" name="protein" type="text">
            <label for="icon_prefix">Protein(g)</label>
        </div>
    </div>
    <div class="row">
        <button class="btn waves-effect waves-light" type="submit">Add Task
                <i class="material-icons right">playlist_add</i>
        </button>
    </div>
</form>




{% endblock content %}
