{% extends 'base.html' %} {% block content %}

<h3 class="margin-left">Add Animal</h3>

<div class="row">
    <form method="POST" class="col-lg-8 col-md-8 col-sm-12 margin-left" enctype='multipart/form-data'>
        <div class="row">
            <div class="input-field col s12 margin-left">
                <i class="material-icons prefix">assignment</i>
                <input id="animal_name" name="animal_name" type="text" required>
                <label>Animal Name</label>
            </div>
        </div>
        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                <span>Image</span>
                <input type="file" name="image" required>
                </div>
                <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Add Meat
                <i class="material-icons right">add_box</i>
             </button>
        </div>
    </form>
</div>


{% endblock content %}
    
  