{% extends 'base.html' %} {% block content %}
<h3>Add Animal</h3>
<div class="row">
    <form method="POST" class="col s12" enctype='multipart/form-data'>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="vegetable_name" name="vegetable_name" type="text">
                <label for="icon_prefix">Vegetable Name</label>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="calories" name="calories" type="text">
                <label for="icon_prefix">Calories</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="carbohydrates" name="carbohydrates" type="text">
                <label for="icon_prefix">Carbohydrates(g)</label>
            </div>
        </div>
    
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="fat" name="fat" type="text">
                <label for="icon_prefix">Fat(g)</label>
            </div>
        </div>
    
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="protein" name="protein" type="text">
                <label for="icon_prefix">Protein(g)</label>
            </div>
        </div>
        
        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                <span>Image</span>
                <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
                </div>
            </div>
        </div>

        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Add Task
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>


    {% endblock content %}
    
  