{% extends 'base.html' %} {% block content %}
<h3>Add Recipe</h3>
<div class="row">
    <form method="POST" class="col s12" enctype='multipart/form-data'>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">assignment</i>
                <input id="recipe_name" name="recipe_name" type="text" value="{{recipe.recipe_name}}">
                <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="file-field input-field">
                <div class="btn">
                <span>Image</span>
                <input type="file" name="image">
                </div>
                <div class="file-path-wrapper">
                <input class="file-path validate" type="text" value="{{recipe.image}}">
                </div>
            </div>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">poll</i>
            <select id="meats" name="meats" multiple>
              
              {% for meat in meat_options %}
              <optgroup label="{{ meat }}">
                {% for option in meat_options[meat] %}                  
                <option value="{{ meat }} {{ option }}">{{ option }}</option>
                {% endfor %}
              </optgroup>
              {% endfor %}
              
            </select>
            <label>Add Meat</label>
        </div>
        
        <div class="input-field col s12">
            <i class="material-icons prefix">poll</i>
            <select id="vegtables" name="vegtables" multiple>
                {% for veg in veg_options %}
              <optgroup label="{{ veg }}">
                {% for option in veg_options[veg] %}                  
                <option value="{{ veg }} {{ option }}">{{ option }}</option>
                {% endfor %}
              </optgroup>
              {% endfor %}
            </select>
            <label>Add Vegtables</label>
         </div>
         
        <div class="input-field col s12">
            <i class="material-icons prefix">poll</i>
            <select id="herbs_or_spices" name="herbs_or_spices" multiple>
              <optgroup label="Herbs">
                {% for herb in herbs %}
                <option value="{{ herb.herb_or_spice_name }}">{{ herb.herb_or_spice_name }}</option>
                {% endfor %}
              </optgroup>
              <optgroup label="Spices">
                {% for spice in spices %}
                <option value="{{ spice.herb_or_spice_name }}">{{ spice.herb_or_spice_name }}</option>
                {% endfor %}
              </optgroup>
            </select>
            <label>Add Herbs and Spices</label>
            </div>
        <div class="input-field col s12">
            <p>Don't see a specific herb or spice here?</p>
            <p>Add it to the list here --></p>
            <a href="{{url_for('add_herb_or_spice')}}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit">Add Task
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>


{% endblock content %}
