{% extends 'base.html' %} {% block content %}

<h3 class="margin-left">Edit Cut</h3>

<form method="POST" class="col-12 margin-left" enctype='multipart/form-data'>
    <div class="row">
        <div class="input-field col s12">
            <input disabled value="{{ cut.animal_name }}" id="animal_name" name="animal_name" type="text" class="validate">
            <label>Meat</label>
            <input type="hidden" name="animal_name" value="{{ cut.animal_name }}">
        </div>
    </div>
    
    <div class="row">
        <div class="input-field col-12">
            <i class="material-icons prefix">assignment</i>
            <input id="cut_name" name="cut_name" type="text" value="{{ cut.cut_name }}" required>
            <label>Cut Name</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col-12">
            <i class="material-icons prefix">assignment</i>
            <input id="calories" name="calories" type="text" value="{{ cut.calories }}" required>
            <label>Calories</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col-12">
            <i class="material-icons prefix">assignment</i>
            <input id="carbohydrates" name="carbohydrates" type="text" value="{{ cut.carbohydrates }}" required>
            <label>Carbohydrates(g)</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col-12">
            <i class="material-icons prefix">assignment</i>
            <input id="fat" name="fat" type="text" value="{{ cut.fat }}" required>
            <label>Fat(g)</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col-12">
            <i class="material-icons prefix">assignment</i>
            <input id="protein" name="protein" type="text" value="{{ cut.protein}}" required>
            <label>Protein(g)</label>
        </div>
    </div>
    
    <div class="row">
        <button class="btn waves-effect waves-light" type="submit">Edit Cut
                <i class="material-icons right">edit</i>
        </button>
    </div>
</form>

{% endblock content %}