{% extends 'base.html' %} {% block content %}

<div class="row margin-top">
    
     <div class="col-12 margin-top meal-margin-left">
        {% for image in images %}
        <img src="{{ image.image }}" class="img-responsive shadow" alt="{{meal_name}}"> 
        {% endfor %}
    </div>
    
    <div class="col-12 margin-top meal-margin-left">
        <strong>{{meal_name}}</strong>
        <br>
        <br>
        <p>Total for meal: </p>
        <p>Calories(kcal): {{ total_cals }}</p>
        <p>Carbohydrates(g): {{ total_carbs }}</p>
        <p>Fat(g): {{ total_fat }}</p>
        <p>Protein(g): {{ total_protein }}</p>
        <hr>
        <p>Ingredients: 
        {% for cuts in meal_meats.keys() %} 
        {{ cuts }}, 
        {% endfor %} 
        
        {% for veg in meal_vegetables.keys() %} 
        {{ veg }}, 
        {% endfor %} 
        
        {% for seasoning in meal_seasoning %} 
        {{seasoning}}, 
        {% endfor %}</p>
    </div>
</div>

{% endblock content %}
