{% extends 'base.html' %} {% block content %}
    
    <div class="row margin-top">
        <div class="col s12 m6 l6">
           <strong>{{recipe_name}}</strong>
           </br>
           </br>
            <p>Total for meal: </p>
            <p>Calories(kcal): {{ total_cals }}</p>
            <p>Carbohydrates(g): {{ total_carbs }}</p>
            <p>Fat(g): {{ total_fat }}</p>
            <p>Protein(g): {{ total_protein }}</p>
            <hr>
            <p>Ingredients: 
            {% for cuts in recipe_meats.keys() %}
            {{ cuts }},
            {% endfor %} 
            {% for veg in recipe_vegetables.keys() %}
            {{ veg }},
            {% endfor %}
            {% for seasoning in recipe_seasoning %}
            {{seasoning}},
            {% endfor %}</p>
        </div>
        
        <div class="col s12 m4 l4">
            {% for image in images %}
            <img src="{{ image.image }}" width="300" height="250">
            {% endfor %}
        </div>
    </div>
    
   
        
    


{% endblock content %}