{% extends 'base.html' %} {% block content %}


<ul class="collapsible" data-collapsible="accordion">
    {% for vegtableType in vegtables %}
    <li>
            <div class="collapsible-header">
                <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <strong>{{vegtableType.vegtableType}}</strong>
                     
                </div>
                <div class="task_header col s9">
                    <a href="#" class="waves-effect waves-light btn btn_small blue">Edit</a>
                    <a href="#" class="waves-effect waves-light btn btn_small blue">Add</a>
                </div>
            </div>
            <div class="collapsible-body">
                <p>All items are per 100g</p>
                <p>Calories(kcal): {{vegtableType.calories}}</p>
                <p>Carbohydrates(g): {{vegtableType.carbohydrates}}</p>
                <p>Fat(g): {{vegtableType.fat}}</p>
                <p>Protein(g): {{vegtableType.protein}}</p>
            </div>
    </li>
    {% endfor %}
</ul>




{% endblock content %}