{% extends 'base.html' %} {% block content %}

<h1>Vegtables</h1>
<hr>
<br>
<br>
<br>

<div class="row">
    {% for vegtable in vegtables %}
    <div class="col s12 m6 l4">
        <div class="card">
            <div class="card-image">
                <img src="{{ vegtable.image }}">
                <span class="card-title">{{ vegtable.vegtable_name }}</span>
                <a class="btn-floating halfway-fab waves-effect waves-light red" href="{{url_for('add_vegtableType', vegtable_name=vegtable.vegtable_name)}}"><i class="material-icons">add</i></a>
            </div>
            <div class="card-content">
                <p>{{ vegtable.vegtable_name }}</p>
            </div>
            <div class="card-action">
                <a href="{{url_for('show_vegtableType', vegtable_name=vegtable.vegtable_name)}}">View Vegtable Types</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="col">
        <a href="{{url_for('add_vegtable')}}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
    </div>
</div>




{% endblock content %}